<app-navbar></app-navbar>
<div class="navega card-header">
  <a class="leter nav-link"  href="#"><i class="fas fa-home-lg-alt "></i> Inicio > <i class="navs">Administración </i></a> 
</div>
          <br>
          <div class="table-responsive">
            <table id="example" style="width:100%;" class="table table-striped table-bordered">
              <thead>
                <tr>
                  
                  <th>ID</th>
                  <th class="solicitante">Solicitante</th>
                  <th>Fecha Solicitud</th>
                  <th>Para</th>
                  <th>Motivo Salida</th>
                  <th>Cantidad</th>
                  <th>Unidad Medida</th>
                  <th>Area</th>
                  <th>Descripción</th>
                  <th>Observaciones</th>
                  <th>Autorizador</th>
                  <th>Salida</th>
                  <th>Provedor</th>
                  <th>Comentarios</th>
                  <th>Enviado para</th>
                  <th>Regreso</th>
                  <th>Correo Solicitante</th>
                  <th>Status</th>
                  <th>mandar mail</th>
                  <th>aprobación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of datatable"  >
                  
                  <td>{{item.id_solicitud}}</td>
                  <td>{{item.solicitante}}</td>
                  <td>{{item.fechaSolicitud}}</td>
                  <td>{{item.nombreProvedor}}</td>
                  <td>{{item.motivo}}</td>
                  <td>{{item.cantidad}}</td>
                  <td>{{item.unidadMedida}}</td>
                  <td>{{item.area}}</td>
                  <td>{{item.descripcion}}</td>
                  <td>{{item.observaciones}}</td>
                  <td>{{item.autorizador}}</td>
                  <td>{{item.fechaSalida}}</td>
                  <td>{{item.nombreProvedor}}</td>
                  <td>{{item.comentariosCompras}}</td>
                  <td>{{item.regresa}}</td>
                  <td>{{item.fechaRegreso}}</td>
                  <td>{{item.correoSolicitante}}</td>
                  <td>{{item.status2}}</td>
                  <td>{{item.statusAprobacion}}</td>
                  
                  <td><a type="button" class="nav-link active"  routerLink="autorizar/{{item.id_solicitud}}" >Mostrar datos</a></td>
                </tr>   
              </tbody>
            </table>
          </div>
      
